.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gameBox {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}
