.gameCard {
  height: 100px;
  width: 100px;
  border: 2px solid white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: bold;
}

.X {
  color: rgb(255, 0, 0);
}
.O {
  color: rgb(6, 8, 111);
}
